name: Sync fork

on:
  schedule:
  - cron: "*/5 * * * *"
  push:
    branches:
    - "*"
    paths:
    - .github/workflows/sync.yml

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: gh repo sync githubusername/forkname
      env:
        GH_TOKEN: ${{ github.token }}
    - uses: gautamkrishnar/keepalive-workflow@v1
